@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .container {
    @apply max-w-4xl mx-auto w-full;
  }
}

html {
  font-family: "Poppins", sans-serif;
}

.playfair {
  font-family: "Playfair Display", serif;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.loader div:first-child {
  animation-delay: 0.1s;
}

.loader div:first-child(2) {
  animation-delay: 0.2s;
}

.loader div:first-child(3) {
  animation-delay: 0.3s;
}
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
